{
  "openapi": "3.1.0",
  "info": {
    "title": "MyGoalGPT - Log Expense",
    "description": "Logs expenses to the FinancialPlanner Excel file in OneDrive via Microsoft Graph API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0"
    }
  ],
  "paths": {
    "/me/drive/items/E9DE8978C59B8B0!s67500d1ad97142ae8c4c09f729072f7a/workbook/worksheets('ExpenseLog')/tables/add": {
      "post": {
        "operationId": "logExpense",
        "summary": "Log a new expense to the ExpenseLog worksheet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "values": [
                    [
                      "2025-03-30",
                      "Groceries",
                      "25",
                      "Bought vegetables"
                    ]
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Row added successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.microsoftonline.com/722ea0be-3e1c-4b11-ad6f-9401d6856e24/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/722ea0be-3e1c-4b11-ad6f-9401d6856e24/oauth2/v2.0/token",
            "scopes": {
              "https://graph.microsoft.com/User.Read": "Read user profile",
              "https://graph.microsoft.com/Files.ReadWrite.All": "Read and write all user files",
              "offline_access": "Maintain access to data you have given it access to"
            }
          }
        }
      }
    },
    "schemas": {}
  },
  "security": [
    {
      "oauth2": [
        "https://graph.microsoft.com/User.Read",
        "https://graph.microsoft.com/Files.ReadWrite.All",
        "offline_access"
      ]
    }
  ]
}